<script lang="ts">
  import Header from '$lib/ui/Header.svelte';
  import Footer from '$lib/ui/Footer.svelte';
</script>

<Header />

<div>
  <slot />
</div>

<Footer
  name="Your Name"
  number="your student number"
  url="https://gitlab.com/[your_username]/datavis_exercises"
/>

<style>
  div {
    padding: 1.5rem;
    min-height: calc(100vh - 83px);
    max-width: 992px;
    margin: 0 auto;
  }
</style>
