<script context="module">
  export const hydrate = false;
  export const prerender = true;
</script>

<script>
  import CC from '$lib/ui/CodeSnippet.svelte';
</script>

<h1>Project details</h1>
<p>
  This page provides additional information about how this website is build and
  what each file does. This website is build using <a
    class="link-secondary"
    href="https://kit.svelte.dev/docs">SvelteKit</a
  >, <a class="link-secondary" href="https://svelte.dev/docs">Svelte</a>, and
  <a
    class="link-secondary"
    href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
    >Bootstrap</a
  >. We will provide a short description of these frameworks, but also check out
  their documentation if something is not clear. SvelteKit is a modern website
  framework based upon Svelte. Essentially, you can think of Svelte as a tool
  for building an interactive web-page and SvelteKit as a tool for building an
  entire website out of those pages. Bootstrap is a collection of styling and
  javascript functionality for common website elements that make it easy to get
  a clean look quickly. If you see us using CSS classes that are not defined in
  the Svelte component, then they are probably from bootstrap. You can find what
  they do in their documentation.
</p>

<h5>The structure</h5>
<p>
  The project contains quite a few configuration files in the root folder. You
  should not touch these files, but we will briefly explain what each file is
  for:
</p>
<ul>
  <li>
    LICENSE: <p class="mb-0">The open source license for this project.</p>
  </li>
  <li>
    README.md <p class="mb-0">
      A markdown file describing the project and giving insturctions on how to
      use it.
    </p>
  </li>
  <li>
    package.json <p class="mb-0">
      Configures npm. Specifies the dependencies and tells npm what to do when
      we want to build the website.
    </p>
  </li>
  <li>
    package-lock.json <p class="mb-0">
      This file is automatically generated by npm and keeps track of all
      dependencies that are installed.
    </p>
  </li>
  <li>
    .gitignore <p class="mb-0">
      Configures which files git should not include in the repository.
    </p>
  </li>
  <li>
    svelte.config.js <p class="mb-0">
      Configures SvelteKit to run on specific hosting providers.
    </p>
  </li>
  <li>
    jsconfig.json <p class="mb-0">
      Tells SvelteKit where to look for our source files.
    </p>
  </li>
  <li>
    eslintrc.cjs <p class="mb-0">
      Configures the eslintrc linter, so it can give us warnings about our code.
    </p>
  </li>
  <li>
    .prettierrc <p class="mb-0">
      Configures prettier so it can automatically format our code.
    </p>
  </li>
  <li>
    .npmrc <p class="mb-0">
      Configures npm to use strict package versions for the dependencies.
    </p>
  </li>
</ul>

<p>
  In addition, two folders will be generated when you are working on the
  project.
  <CC>node_modules</CC> contains the javascript dependencies and <CC
    >.svelte-kit</CC
  >
  contains internal files of SvelteKit. If you ever run into an issue where SvelteKit
  is giving errors about files you have moved, you can solve that by removing the
  <CC>.svelte-kit</CC> folder and running <CC>$: npm run build</CC>.
</p>

<p>
  Finally, the two folders that matter: <CC>static</CC> and <CC>src</CC>. <CC
    >static</CC
  > contains the files that should be accesible on the website directly, such as
  the favicon that is shown in the browser's tab. Use this folder if you want to
  be able to acces a file (f.i. <CC>my_file.json</CC>) within a web-page. Put
  the file in the static folder and load it from the URL <CC>/my_file.json</CC>.
</p>
<p>
  The <CC>src</CC> folder contains all the files that make up the website.
</p>
<ul>
  <li>
    <CC>src/lib</CC>
    <p>
      This folder contains all javascript functions and Svelte components that
      are intended to be reused across the site. You can import files in this
      folder using the <CC>$lib</CC> shorthand notation. For example, the <CC
        >CodeSnippet</CC
      > component is located at <CC>src/lib/ui/CodeSnippit.svelte</CC> and can be
      imported using <CC>import CC from '$lib/ui/CodeSnippit.svelte';</CC>
    </p>
  </li>
  <li>
    <CC>src/routes</CC>
    <p>
      This folder contains the pages of the website. Basically, each
      <CC>.svelte</CC> file in <CC>src/routes/</CC> is a page on the website. The
      location of the the file within relative to the folder specifies the url of
      the page. For instance, <CC>src/routes/about.svelte</CC> is accesible at
      <a
        class="link-secondary"
        href="https://datavis-exercises.vercel.app/about"
        >https://datavis-exercises.vercel.app/about</a
      >. Files called <CC>index.svelte</CC> are special, they are accesible at the
      url of the folder they are located in. For instance, <CC
        >src/routes/week 0/index.svelte</CC
      > has URL
      <a
        class="link-secondary"
        href="https://datavis-exercises.vercel.app/week%200"
        >https://datavis-exercises.vercel.app/week 0</a
      >. The <CC>src/__layout.svelte</CC> is also special, it specifies the parts
      of the website that are the same for all files. Finally, sometimes you may
      want to write components specifically for one web-page, but they cannot be
      reused by other pages. In that case, you can prefix their name with an underscore.
      For example, <CC>src/routes/exercises/week 0/_exercises/_ex1.svelte</CC> is
      <span class="fw-bold">not</span> accessible from the URL
      <a
        class="link-secondary"
        href="https://datavis-exercises.vercel.app/week%200/_exercises/_ex1"
        >https://datavis-exercises.vercel.app/week 0/_exercises/_ex1</a
      >
    </p>
    <p>
      SvelteKit also supports endpoints, i.e. javascript files located under <CC
        >src/routes</CC
      >. These files specify functions that run on the server and return HTML.
      They can be used to, for instance, access databases without leaking
      credentials to the user.
    </p>
  </li>
</ul>
