<script context="module">
  export const hydrate = false;
  export const prerender = true;
</script>

<script>
  import CC from '$lib/ui/CodeSnippet.svelte';
</script>

<h1>Data Visualization</h1>
<p>
  Welcome to the data visualization course. This website will be your working
  place for the course's exercises. Each week, we will release new instructions
  and code to get you started. Then, you can work on your answers by adapting
  the code. Finally, you indicate you finished on blackboard and we will grade
  your work. Below, you will find the instructions to get you started.
</p>

<h3>Instructions</h3>
<p>
  There are a couple of things you have to do to setup your own development
  environment to work on this website. We will describe these steps in detail
  here.
</p>

<h5>Gitlab</h5>
<p>
  To access code you will be working with you have to create a <a
    class="link-secondary"
    href="https://gitlab.com/users/sign_up?test=capabilities">GitLab account</a
  >. Once you have created your account, go to this
  <a class="link-secondary" href="https://gitlab.com/vda-lab/datavis_exercises"
    >repository</a
  >
  and click on the <cc>fork</cc> button. Make sure your fork is public and the repsitory
  URL is directly under you username.
</p>

<h5>Vercel</h5>
<p>
  We use <a class="link-secondary" href="https://vercel.com/signup">Vercel</a>
  as hosting provider. Make a vercel account that is linked to your GitLab account.
  Once you are logged in, click the <CC>New Project</CC> button and import your fork
  of the <CC>datavis_exercises</CC> repository. Change the project name to <CC
    >[studentnumber]-datavis-exercises</CC
  > and click the <CC>Deploy</CC> button.
</p>
<p>
  Once Vercel is done building the website, click the <CC>Go To Dashboard</CC> button.
  You should now be able to browse to <CC
    >https://[studentnumber]-datavis-exercises.vercel.app</CC
  > and see your version of this website!
</p>

<h5>Installing nodejs and vscode</h5>
<p>
  In this course, we will build custom visualizations using javascript. You need
  to install <a
    class="link-secondary"
    href="https://docs.npmjs.com/getting-started">nodejs</a
  >
  to work with javascript. See their website for installation instructions. If you
  are familiar with
  <a
    class="link-secondary"
    href="https://docs.conda.io/en/latest/miniconda.html">conda</a
  >, you can also use that to create an environment with nodejs.
</p>
<p>
  We recommend you use <a
    class="link-secondary"
    href="https://code.visualstudio.com/download">Visual Studio Code</a
  >
  as a text-editor for this course. Also install the
  <CC>Svelte for VS Code</CC> extension to get proper syntax highlighting.
</p>
<p>
  After installing both programs, make sure you can run <CC>npm --version</CC> without
  errors from vscode's internal terminal. Press <CC>ctrl+`</CC> to access the terminal
  view, or press <CC>ctrl+shift+p</CC> to access the command runner, type <CC
    >toggle terminal</CC
  >, and press <CC>enter</CC>.
</p>

<h5>Cloning the repository</h5>
<p>
  The last step in gettings started is cloning your fork of the website. This
  will make the code available on your computer. Open vscode in the
  parent-folder where you want the files for this project to go (don't put the
  files in a local synchronization of Google Drive, npm will break if you do).
  Open the terminal and run:
</p>
<p><CC>$: git clone https://gitlab.com/[username]/datavis_exercises.git</CC></p>
<p>
  To get the correct url for the above command, you can also click the <CC
    >Clone</CC
  > button on your fork's gitlab page. Use the https-URL if you have not configured
  ssh-keys with your gitlab account.
</p>
<p>
  Now, there should be a folder <CC>datavis_exercises</CC> in the parent-folder where
  you opened vscode. Re-open vscode in that <CC>datavis_exercises</CC> folder by
  clicking
  <CC>File/Open Folder</CC> in the menu-bar and navigating to the <CC
    >datavis_exercises</CC
  > folder.
</p>
<p>
  Install the project's dependencies by running from within the <CC
    >datavis_exercises</CC
  > folder:
</p>
<p><CC>$: npm run install</CC></p>
<p>
  To receive the updates that we will release with each week's instructions, you
  have to tell git where the original repository lives To do that run:
</p>
<p>
  <CC
    >$: git remote add upstream https://gitlab.com/vda-lab/datavis_exercises</CC
  >
</p>

<p>
  Finally, open the file <CC>src/routes/__layout.svelte</CC> and change lines 13
  to 15 with your name, student number and the url of your fork of the repository.
</p>

<h5>Working on the exercise</h5>
<p>
  Each week we will release new exercises on our <a
    class="link-secondary"
    href="https://gitlab.com/vda-lab/datavis_exercises">repository</a
  >. To access them in your own fork, you have to merge the new release. You can
  do that by running the following command in the terminal of vscode. Make sure
  vscode has the project's folder open!
</p>
<p><CC>$: git rebase upstream/master</CC></p>
<p>
  After you have updated your repository with our new release, you have to push
  the changes to GitLab using:
</p>
<p><CC>$: git push -f origin master</CC></p>
<p>
  Now you will have access to the instructions and template-code for that week's
  exercises. To view the instructions and work on the exercises you have to
  start a development server using:
</p>
<p><CC>$: npm run dev</CC></p>
<p>
  Now you can access your version of the website at <a
    class="link-secondary"
    href="localhost:3000">localhost:3000</a
  >. All the changes you make will be detected automatically and your site will
  update. Sometimes you may need to refresh the page to see a change.
</p>
<p>
  To see the instructions navigate to that weeks page using the <CC
    >Exercises</CC
  > link in the site's header. For now, go to
  <a class="link-secondary" href="localhost:3000/exercises/week 0"
    >localhost:3000/exercises/week 0</a
  >. To work on the exercises, you will have to edit the files located in that
  weeks folder. For now, finish exercise 1 of week 0 by changing <CC
    >src/routes/week 0/_exercises/_ex1.svelte</CC
  >. The files are numbered by the exercise they belong to. Make sure to have a
  working solution of each exercise when submit your work, all your work should
  be visible on the week's instruction page! Please do not change any other
  files unless the exercise instructions tell you to. If you do, you will run
  into merge issues when you try to update your repository with new
  instructions.
</p>
<p>
  When you are done with the exercises of a given week, you have to submit your
  work by:
</p>
<ol>
  <li>
    <p>Creating a commit, first add the files you have added using:</p>
    <p><CC>$: git add .</CC></p>
    <p>then, commit them using</p>
    <p><CC>$: git commit -m "solutions for week 0"</CC></p>
  </li>
  <li>
    <p>Push your changes to GitLab by running:</p>
    <p><CC>$: git push</CC></p>
  </li>
  <li>
    Verify that your solutions work on Vercel. Go to your website's dashboard on
    Vercel and check that it finished building. Make sure that vercel did not
    give any errors. Also check that your published website <CC
      >https://[username]-datavis-exercises.vercel.app</CC
    > updated and all your changes show up as expected.
  </li>
  <li>
    Go to Blackboard / Toledo and upload that week's assignment to indicate that
    you have completed it.
  </li>
</ol>

<p>You should now:</p>
<ol>
  <li>
    Have local copy of the code for this website that will be used for the
    exercises
  </li>
  <li>
    Be able to see a development version of your copy at <CC>localhost:3000</CC>
    by running <CC>$: npm run dev</CC>. Your name and student number should be
    listed in the footer of the website.
  </li>
  <li>Be able to locate and change the exercise files.</li>
  <li>Be able commit and publish your work.</li>
  <li>
    Be able to update your site with new instructions when we release them.
  </li>
</ol>

<p>
  If you want to know more about how this website works, check out the <a
    class="link-secondary"
    href="/about">about</a
  >
  page!
</p>

<h5>FAQ</h5>
<p>
  If you have questions about the exercises, you can contact the teaching team
  by mail. Make sure to prefix your mails subject with [datavis]. Before asking
  your question, please check if you can find the answer to your question on the <a
    class="link-secondary"
    href="/about">about</a
  > page.
</p>
