<script context="module">
  export const prerender = true;
</script>

<script>
  import CC from '$lib/ui/CodeSnippet.svelte';
  import Card from '$lib/ui/Card.svelte';
  import Ex1 from './_exercises/_ex1.svelte';
</script>

<h1>Week 0</h1>
<p>
  This is an example of what the exercises will look like. Please follow the
  instructions of Exercise 1.
</p>

<h5>Exercise 1</h5>
<p>
  Open the file <CC>src/routes/week 0/_exercises/_ex1.svelte</CC> and fill in your
  name on the <CC>...</CC> on line 1. You should now see your name below:
</p>
<Card><Ex1 /></Card>
