<span class="font-monospace"><slot /></span>

<style>
  span {
    background-color: #fafaf9;
    width: max-content;
    margin-left: 5px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 5px;
  }
</style>
