<script>
  export let name = 'Your Name';
  export let number = '123456';
  export let url = 'https://gitlab.com/JelmerBot/datavis_exercises';
</script>

<footer class="navbar-light bg-light">
  <div class="container-fluid d-flex flex-row justify-content-between">
    <div>
      <span class="fs-6 fw-light">{name} ({number})</span>
    </div>
    <div>
      <a href={url} class="link-secondary">
        <img height="25" src="/gitlab-icon-rgb.svg" alt="Gitlab logo" />
      </a>
      <a href={url} class="link-secondary me-3">GitLab</a>
      <a href="{url}/-/blob/master/LICENSE" class="link-secondary">
        <svg viewBox="0 0 24 24" data-view-component="true" height="20">
          <path
            fill-rule="evenodd"
            d="M12.75 2.75a.75.75 0 00-1.5 0V4.5H9.276a1.75 1.75 0 00-.985.303L6.596 5.957A.25.25 0 016.455 6H2.353a.75.75 0 100 1.5H3.93L.563 15.18a.762.762 0 00.21.88c.08.064.161.125.309.221.186.121.452.278.792.433.68.311 1.662.62 2.876.62a6.919 6.919 0 002.876-.62c.34-.155.606-.312.792-.433.15-.097.23-.158.31-.223a.75.75 0 00.209-.878L5.569 7.5h.886c.351 0 .694-.106.984-.303l1.696-1.154A.25.25 0 019.275 6h1.975v14.5H6.763a.75.75 0 000 1.5h10.474a.75.75 0 000-1.5H12.75V6h1.974c.05 0 .1.015.14.043l1.697 1.154c.29.197.633.303.984.303h.886l-3.368 7.68a.75.75 0 00.23.896c.012.009 0 0 .002 0a3.154 3.154 0 00.31.206c.185.112.45.256.79.4a7.343 7.343 0 002.855.568 7.343 7.343 0 002.856-.569c.338-.143.604-.287.79-.399a3.5 3.5 0 00.31-.206.75.75 0 00.23-.896L20.07 7.5h1.578a.75.75 0 000-1.5h-4.102a.25.25 0 01-.14-.043l-1.697-1.154a1.75 1.75 0 00-.984-.303H12.75V2.75zM2.193 15.198a5.418 5.418 0 002.557.635 5.418 5.418 0 002.557-.635L4.75 9.368l-2.557 5.83zm14.51-.024c.082.04.174.083.275.126.53.223 1.305.45 2.272.45a5.846 5.846 0 002.547-.576L19.25 9.367l-2.547 5.807z"
          />
        </svg></a
      >
      <a href="{url}/-/blob/master/LICENSE" class="link-secondary"
        >MIT License</a
      >
    </div>
  </div>
</footer>
