<script>
  import { page } from '$app/stores';
</script>

<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Data Visualisation</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            class:active={$page.url.pathname === '/'}
            aria-current="page"
            href="/">Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:active={$page.url.pathname === '/about'}
            aria-current="page"
            href="/about">About</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            class:active={$page.url.pathname.includes('/exercises')}
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Exercises
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/exercises/week 0">Week 0</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
